/* Color overrides */
.wy-nav-top {
    background-color: #CC0000; /* TI red */
}

.wy-side-nav-search {
    background-color: #FCFCFC; /* Theme White */
}

.wy-side-nav-search > .icon {
    color: #404040 !important; /* Theme Title Text */
}

.wy-side-nav-search > .version {
    color: #404040 !important; /* Theme Title Text */
}

/* Content width override */
.wy-nav-content {
    max-width: 100% !important;
}

/* Version compatibility override */
.wy-side-nav-search>div.version {
    margin-top: -.4045em;
    margin-bottom: .809em;
    font-weight: 400;
    color: hsla(0, 0%, 100%, .3);
}
