---
name: "build"

on:
  push:
    branches: [master]

concurrency:
  group: ${{ github.ref_name }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build Linux Documents
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/texasinstruments/processor-sdk-doc:latest
      options: --entrypoint /bin/bash
    strategy:
      matrix:
        os: [linux]
        device:
          - AM335X
          - AM437X
          - AM57X
          - AM62AX
          - AM62LX
          - AM62PX
          - AM62X
          - AM64X
          - AM65X
          - AM67
          - AM68
          - AM69
          - CORESDK
          - DRA821A
          - J7200
          - J721E
          - J721S2
          - J722S
          - J742S2
          - J784S4
          - AM62DX
        include:
          - os: android
            device: AM62PX
          - os: android
            device: AM62X
          - os: buildroot
            device: AM62X
          - os: buildroot
            device: AM62LX
          - os: debian
            device: AM62X
          - os: debian
            device: AM62PX
          - os: debian
            device: AM64X
          - os: debian
            device: AM62LX
          - os: edgeai
            device: AM62AX

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Add directory to safe dir overrides
        run: |
          git config --global --add safe.directory "$PWD"

      - name: Build ${{ matrix.device }}
        run: |
          make DEVFAMILY=${{ matrix.device }} OS=${{ matrix.os }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.device }}-${{ matrix.os }}
          path: build/
          retention-days: 1
